.clients-list {
  display: flex;
  flex-direction: column;
  align-items: center;

@media screen and (min-width: $mobile) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

&__icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    @extend %transition-fill;
}

&__links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    @include border (#AFB1B8);
    transition: border $time $cubic;

    &:hover,
    &:focus {
        @include border ($selected-color);
    }

@media screen and (min-width: $tablets) {
    width: 226px;
    
}

@media screen and (min-width: $desktop) {
    width: 170px;

}
}
}

.clients-list li:not(:last-child) {
    margin-bottom: 15px;
@media screen and (min-width: $mobile) {
    margin-bottom: 0;
}
}

.clients-list__links:hover .clients-list__icon,
.clients-list__links:focus .clients-list__icon {
    fill: $selected-color;
}

