.header-border {
    border-bottom: 1px solid #ECECEC;
}



.header-nav {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 40px;

&__item:not(:last-child) {
    margin-bottom: 32px;
}

&__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $main-black-color;

    &:hover,
    &:focus {
        color: $selected-color;
    }
}

}

.header-nav__link--secondary-color {
    color: $selected-color;
}


.header-formating {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 200px;
    margin-left: 40px;

&__item:not(:last-child) {
    margin-top: 32px;

}    

&__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1.16;
    color: $links-gray;
    
}

&__icon {
    display: none;
 
}
}

.header-contacts__link--second {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;    
    letter-spacing: 0.02em;
    color: $selected-color;
}

.header-contacts__item:hover .header-contacts__icon,
.header-contacts__item:focus .header-contacts__icon {
    fill: $selected-color;
}

.header-container {
    display: none;

&.is-open {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: $primary-text-color;
}

}