.header-formating__logo {
    
    @extend %logo;
    padding-top: 16px;
    padding-bottom: 16px;
    
}

.footer-formating__logo {
    @extend %logo;
    
}

/* Separate color for logo in head*/
.header-formating__logo--secondary-color {
    color: #000000;
    
}

/* Separate color for logo in footer */
.footer-formating__logo--secondary-color {
    color: $primary-text-color;
}

