.header-formatting__button {
    position: absolute;
    right: 15px;
    top: 10px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
&.is-open {
    position: fixed;
    
}    

&:focus>svg,
&:hover>svg {
    fill: $selected-color
}

@media screen and (min-width: $tablets) {
    display: none;
}

}

.header-formatting__icon--menu{
    
    @extend %transition-fill;
}
.header-formatting__icon--close {
    
    @extend %transition-fill;
}

.header-formatting__button.is-open .header-formatting__icon--close {
    
    display: block;
}

.header-formatting__button.is-open .header-formatting__icon--menu {
    display: none;

}




.header-formatting__icon--close {
    display: none;

}

.header-contacts__social {
    display: flex;
    



&--item a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $selected-color;
@media screen and (max-width: 376px) {
    font-size: 4.3vw;
}

@media screen and (max-height: 427px) {
    font-size: 5.4vh;
}

}


&--item:not(:last-child) {
    padding-right: 5px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

@media screen and (min-width: $mobile) {
    padding-right: 10px;
}
}
&--item:not(:first-child) {
    padding-left: 5px;
@media screen and (min-width: $mobile) {
    padding-left: 10px;
}
}

@media screen and (min-width: $tablets) {
    display: none;
}

}
