.header-formatting__button {
    position: absolute;
    right: 15px;
    top: 10px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $primary-text-color;
    z-index: 999;

}



.header-formatting__button.is-open .header-formatting__icon--close {
    display: block;
}

.header-formatting__button.is-open .header-formatting__icon--menu {
    display: none;

}

.header-formatting__icon--menu {

}

.header-formatting__icon--close {
    display: none;

}

.header-contacts__social {
    display: flex;
    margin-left: 40px;
    text-decoration: none;
}
