.header-formatting__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $primary-text-color;

}

.header-formatting__button.is-open .header-formatting__icon--close {
    display: block;
}

.header-formatting__button.is-open .header-formatting__icon--menu {
    display: none;
}

.menu-container {
    display: none;
    position: absolute;
    top: 100;
    left: 0;
    background-color: $primary-text-color;
    width: 100vw;
    height: 100vh;
    z-index: 999;
&.is-open {
    display: block;
}
}

.header-formatting__icon--close {
    display: none;
}
