.specification-list {
    
@media screen and (min-width: $tablets) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

&__header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: $main-black-color;

@media screen and (min-width: $tablets) {
    text-align: start;
}
}  

&__title {
    font-weight: 400;
    line-height: 1.71;
    color: $links-gray;
}

&__item {
    max-width: 450px;

@media screen and (min-width: $tablets) {
    max-width: 354px;
}
}
&__item:not(:last-child) {
    margin-bottom: 30px;

@media screen and (min-width: $tablets) {
    margin-bottom: 0;
}
}

}

.specification-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}