$primary-text-color: #FFFFFF;
$selected-color: #2196F3;
$main-black-color: #212121;
$links-gray: #757575;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

// Fonts
$ffamily: 'Roboto', sans-serif;
$fweight: 700;
$fsize: 14px;
$lheight: 1.14;
$lspace: 0.03em;

// Breakpoints

$mobile: 480px;
$tablets: 768px;
$desktop: 1200px;